---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<Layout lang="ja" title="Blog">
  <h1>All posts</h1>
  <ul>
    {
      blogPosts
        .sort((entry1, entry2) => {
          if (entry1.data.publishDate > entry2.data.publishDate) {
            return -1;
          } else if (entry1.data.publishDate < entry2.data.publishDate) {
            return 1;
          }
          return 0;
        })
        .map((entry) => (
          <li>
            <a href={"/mySite/blog/" + entry.slug}>{entry.data.title}</a>
          </li>
        ))
    }
  </ul>
</Layout>
